.google-visualization-table-td.google-visualization-table-type-number {
  text-align: center !important;
}
.grey-background {
  background-color: rgb(236, 233, 233);
}

.orchid-background {
  background-color: orchid;
}

.beige-background {
  background-color: rgb(219, 228, 231);
}

#tableContainer {
  width: 90vw;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#chartContainer {
  width: 100%;
  height: 500px;
  /* max-height: calc(100vh - 200px); */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
#pieChart {
  width: 70%;
  height: 100%;
  display: block;
  position: relative;
}

.google-visualization-table-table td.frozen-column,
.google-visualization-table-table thead th.frozen-column,
.darkgreen-bg {
  background-color: #00695c;
  color: white;
}

.google-visualization-table-table td.frozen-column {
  white-space: nowrap;
}
